* {
    margin: 0;
}

.container {
    width: 100%;
    margin: auto
}

header {
    display: flex;update
    justify-content: space-between;
    background-color: rgb(109, 198, 136);
    color: rgb(93, 17, 17);
    padding: 10px;
}

li {
    display: inline-block;
    font-size: 20px;
    padding: 5px;
}